@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

html, body {
    margin: 0;
    padding: 0;
}
body {
    background: #edede3;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

.popover::-webkit-scrollbar{width:10px!important;height:10px!important;background:transparent !important;border:0 !important}
.popover::-webkit-scrollbar-button{display:none!important}
.popover::-webkit-scrollbar-thumb.popover::-webkit-scrollbar-track{border:0!important;box-shadow:none!important}
.popover::-webkit-scrollbar-thumb{min-height:28px!important;background:#e0d9d5!important;border-radius: 3px!important;}
.popover::-webkit-scrollbar-corner{background:#ededed!important}
@media (max-width: 1199px) {
    .top-margin-10 {
        margin-top:10px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    color:#2f4b60
}

h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 13px 0;
}

textarea, select, input, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"], input[type="color"],.form-control {
    font-size: 107%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    line-height: 20px;
    margin-bottom: 0px;
    transition: none;
}
select {
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),    0 5px 5px  #eae8de;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 5px 5px  #eae8de;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),  0 5px 5px  #eae8de;
}
input[type="checkbox"] {
    height: 17px;
    width: 17px;
}

textarea {
    height: 150px;
    padding: 10px 15px;
    font-size: 100%;
    line-height: 200%;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #eb613d;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -moz-box-shadow:    0 5px 5px  #eae8de;
    -webkit-box-shadow: 0 5px 5px  #eae8de;
    box-shadow:         0 5px 5px  #eae8de;
}

textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder{
    color: #999999;
    font-style: italic;
}
.btn{
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary {
    background: #eb613d;
    border: 1px solid #eb613d;
}
.btn-primary:active,.btn-primary:hover,.btn:focus {
    background: #ff7638;
    border: 1px solid #eb613d;
}
.btn-success {
    background: #51c651;
    border:1px solid #4fa44f;
}
.btn .glyphicon {
    font-size: 70%;
    font-weight: 400;
    padding-left: 5px;
    padding-top: 4px;
    vertical-align: top;
}
.btn:active,.btn.active {
    background: #f8f8f7;
    border-color: #e6e4d9;
    color: #333;
    outline: none;
}
/*.btn-default {*/
    /*background: transparent;*/
    /*border: 1px solid #373a41;*/
    /*color: #fff;*/
/*}*/
.btn .progress {
    height: 34px;
}
a,
a:hover,
a:focus,
a:active {
    color: #eb6433;
    outline: none !important;
}
a:hover {
    text-decoration: none;
}
.icons {
    background: url('../img/icons.png');
}
.icon-place {
    background-position: 0 120px;
    display: inline-block;
    height: 17px;
    width: 12px;
}
.icon-arrow-up {
    background-position: 0 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: top;
}

.icon-arrow-down {
    background-position: 0 -28px;
    display: inline-block;
    height: 22px;
    width: 25px;
}
.icon-arrow-right {
    background-position: 0 -67px;
    display: inline-block;
    height: 28px;
    width: 52px;
    margin:100px 5px 0 5px;
    vertical-align: top;
}
.icon-sm-arrow-right {
    background-position: -59px -73px;
    display: inline-block;
    height: 14px;
    width: 27px;
    margin:80px 30px 0 30px;
    vertical-align: top;
}
.icon-time {
    background-position: -88px -106px ;
    display: inline-block;
    height: 22px;
    width: 15px;
    vertical-align: middle;
}
.icon-review {
    background-position: -106px -112px ;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.icon-review-plus {
    background-position: -54px 0;
    display: inline-block;
    height: 18px;
    width: 16px;
    vertical-align: bottom;
}
.icon-review-minus {
    background-position: -50px -20px ;
    display: inline-block;
    height: 18px;
    width: 16px;
    vertical-align: bottom;
}
.icon-phone {
    background-position: -16px -106px;
    display: inline-block;
    height: 23px;
    width: 15px;
    vertical-align: middle;
}
.icon-skype {
    background-position: -37px -104px;
    display: inline-block;
    height: 23px;
    width: 22px;
    vertical-align: middle;
}
.icon-vk {
    background-position: -152px -110px ;
    display: inline-block;
    height: 16px;
    width: 12px;
    vertical-align: bottom;
}
.icon-tw {
    background-position: -132px -110px ;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
}
.icon-fb {
    background-position: -120px -108px ;
    display: inline-block;
    height: 16px;
    width: 12px;
    vertical-align: bottom;
}
#header {
    color: #fff;
    background: #00243e;
    border-radius: 0;
    height: 60px;
    margin: 0;
    width: 100%;
    z-index: 2060;
    font-size: 16px;
    border-bottom: 1px solid #14354d;
}
#header .navbar-nav>li>a {
    color: #fff;
    padding: 20px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
#header .nav a > span {
    border-bottom: 1px solid #41535f;
}
#header .navbar-nav>.active>a,
#header .navbar-nav>li>a:hover,
#header .navbar-nav>li>a:focus {
    background: #001c30;
    border-left: 1px solid #14354d;
    border-right: 1px solid #14354d;
    box-shadow:none;
}
#header .nav a:hover > span {
    border-bottom-color: transparent;
}
li.create-course {
    padding: 0 0 0 10px;
}
#header .create-course>a:hover.btn {
    background: #419641;
    border-color: #398439;
}
#header .nav li.active a > span {
    border-bottom: 1px solid transparent;
}
#header .create-course a.btn {
    margin-top: 15px;
    padding: 5px 10px;
}
#header .logo .navbar-brand{
    font-weight: 700;
    font-size: 30px;
    padding-right: 10px;
    height: 60px;
    color: #fff;
}
#header .currentCity{
    margin-left: 142px;
    padding: 20px 20px 20px 10px;
    font-size: 14px;
}
#header .currentCity a {
    color:#ff6e48;
    text-decoration: none;
    border-bottom: 1px dotted #ff6e48;
    padding: 0;
}
#header .label {
    font-size: 13px;
    font-weight: 700;
}
#header .label-default {
    color: #b9c1d4;
    background: #414857;
}
#header #main-top-menu {
    padding: 0 30px;
}
#header .user-profile.open {
    background: #f6f7f0;
}

#header .user-profile.open a {
    background: #f6f7f0;
    color: #969795;
}

#header .user-profile {
    border: 1px solid #0a0c0f;
    min-width: 180px;
    margin-top: 5px;
}

#header .user-profile .user-name {
    line-height: 36px;
    margin-left: 5px;
}

#header .user-profile .dropdown-toggle {
    padding: 0 12px 0 0;
}

#header .user-profile .dropdown-menu {
    background: #f6f7f0;
    border: 1px solid #f6f7f0;
    border-top: 1px solid #eeeeee;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    min-width: 60%;
    width: 100%;
}

#header .user-profile .dropdown-menu:before, #header .user-profile .dropdown-menu:after {
    border: 0;
}
.languages-menu{
}
.languages-menu ul li a {
    border-bottom: 0px;
    text-decoration: underline;
    color:#ffffff;
    font-weight: bold;
}
.languages-menu ul li a:hover {
    color: #222732 !important;
}
.languages-menu ul li a.active
{
    color:#222732;
    text-decoration: none;
    cursor: default;
}
.languages-menu .dropdown-toggle{
    border-bottom: 1px dashed #585f6e;
    color: #585f6e !important;
    font-weight: bold;
    margin-right: 15px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-decoration: none;
}

.languages-menu .dropdown-menu {
    position: absolute;
    list-style-type: none;
    background: #414857;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px !important;
    margin-left: 15px;
    margin-top: 0px;
    min-width: 10px;
    font-size: inherit;
}
.languages-menu:hover .dropdown-menu{
    display: block;
}
#page-body {
    clear: both;
}
#sidebar {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    float: left;
    width: 380px;
    top:57px;
    position: fixed;
    z-index: 1000;
}
#sidebar.subcats_closed {
	overflow: hidden;
}
#sidebar.subcats_opened {

}

#sidebar-content {
    background: #fff;
    position: relative;
    border-right: 1px solid #d4d4d4;
    bottom: 0;
    min-height: 100%;
    padding: 40px 0;
    position: relative;
}
#subjects-menu h3 {
    padding-left: 25px;
    font-size: 165%;
    font-weight: 700;
    width: 90%;
}
#subjects-menu .nav {
    position: inherit;
}
#subjects-menu .nav.nav-tabs {
    border: 0 none;
}
#subjects-menu .nav>li {
    border-bottom: 1px solid #f7f0f0;
    position: inherit;
	float: none;
	margin: 0;
}
#subjects-menu .nav-stacked>li+li {
    margin-top: 0;
}
#subjects-menu .nav>li>a {
    color: #5f3f23;
    font-size: 128%;
    font-weight: 700;
    padding: 20px 0 20px 25px;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0 none;
}
#subjects-menu .nav>li.active {
	margin: 0 -1px 0 0;
}
#subjects-menu .nav>li.active>a {
	border: 0 none;
	background: #f5f4ee;
	position: relative;
}
#subjects-menu .nav>li.active>a:after {
	background: #D4D4D4;
	width: 100%;
	height: 1px;
	content: '';
	position: absolute;
	left: 0;
	top: -1px;
}
#subjects-menu .nav>li.active>a:before {
	background: #D4D4D4;
	width: 100%;
	height: 1px;
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
}
#subjects-menu .open>a,#subjects-menu .open>a:hover, #subjects-menu .open>a:focus{
    background: #fff;
}
@media(min-width: 780px){
    #subjects-menu .open>.dropdown-menu{
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        position: absolute;
        padding: 40px 20px 40px 70px;
        top:0;
    }

    #subjects-menu .dropdown-menu>li {
        display: inline-block;
        width: 190px;
    }
    #subjects-menu .dropdown-menu .dropdown-header,#subjects-menu .dropdown-menu .dropdown-footer .title{
        color: #333;
        display: block;
        font-size: 178%;
        font-weight: 700;
        margin-bottom: 40px;
        padding: 0;
        width: 100%;
    }
    #subjects-menu .dropdown-menu .dropdown-footer {
        display: block;
        margin-top: 70px;
        width: 100%;
    }
    #subjects-menu .dropdown-menu .dropdown-footer .icon-arrow-down{
        left: 125px;
        top: 235px;
        position: absolute;
    }
    #subjects-menu .dropdown-menu>li>a{
        color: #5f3f23;
        font-size: 93%;
        padding: 15px 10px;
        text-decoration: none;
    }
    #subjects-menu .dropdown-menu>li>a>span {
        border-bottom: 1px solid #e3d9d2;
        padding-bottom:1px;
    }
    #subjects-menu .dropdown-menu>li>a:hover,#subjects-menu .dropdown-menu>li>a:hover>span {
        background: #fff;
        border-bottom: 0;
    }

    /*--fix new logic sections menus*/

    #subcats_list.dropdown-menu{
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        position: absolute;
        padding: 40px 20px 40px 70px;
        top:0;
    }

    #subcats_list.dropdown-menu>li {
        display: inline-block;
        width: 190px;
    }
    #subcats_list.dropdown-menu .dropdown-header, #subcats_list.dropdown-menu .dropdown-footer .title{
        color: #333;
        display: block;
        font-size: 178%;
        font-weight: 700;
        margin-bottom: 40px;
        padding: 0;
        width: 100%;
    }
    #subcats_list.dropdown-menu .dropdown-footer {
        display: block;
        margin-top: 70px;
        width: 100%;
    }
    #subcats_list.dropdown-menu .dropdown-footer .icon-arrow-down{
        left: 125px;
        top: 235px;
        position: absolute;
    }
    #subcats_list.dropdown-menu>li>a{
        color: #5f3f23;
        font-size: 93%;
        padding: 15px 10px;
        text-decoration: none;
    }
    #subcats_list.dropdown-menu>li>a>span {
        border-bottom: 1px solid #e3d9d2;
        padding-bottom:1px;
    }
    #subcats_list.dropdown-menu>li>a:hover,#subcats_list.dropdown-menu>li>a:hover>span {
        background: #fff;
        border-bottom: 0;
    }
}

#subjects-menu .nav>li>a>.glyphicon {
    color: #eb613d;
    font-size: 70%;
    float: right;
    padding-right: 18px;
    padding-top: 4px;
}
#subjects-menu .nav>li.open>a>.glyphicon {
    color:#d4c4b9;
}
#subjects-menu .nav>li>a>.glyphicon:before {
    content:"\e080"
}
#subjects-menu .nav>li.open>a>.glyphicon:before {
    content:"\e079"
}
#sidebar .banners {
    margin: 20px 0;
}
#sidebar .banners .banner {
    background: url('../img/how-it-works-menu.png') no-repeat;
    padding-top: 200px;
    margin: 10px auto;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 175px;
}
#sidebar .banners .banner p {
    font-size: 107%;
}
#sidebar .banners .banner-warranty{
    background-position:  -525px 0;
    width: 215px;
}
#sidebar .banners .banner-request {
    background-position:  0 0;
}

#sidebar .banners .banner-deals {
    background-position:  -176px 0;
}

#sidebar .banners .banner-choose {
    background-position:  -350px 0;
}
#how-it-work .banners {
    border-bottom: 1px solid #f5f4ef;
    margin-top: 35px;
    padding-bottom: 40px;
}
#features .banners {
    margin-top: 35px;
}
#how-it-work .banners .banner {
    background: url('../img/how-it-works.png') no-repeat;
    display: inline-block;
    margin: 10px auto;
    padding-top: 180px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 160px;
}
#features .banners .banner {
    background: url('../img/features.png') no-repeat;
    display: inline-block;
    height: 115px;
    margin: 10px auto;
    padding-left: 140px;
    padding-top: 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
    max-width: 390px;
}
#features .banners .banner .title {
    color: #475062;
    font-size: 114%;
    font-weight: 700;
    line-height: 24px;
}
#features .banners .banner p {
    color:#7b6453;
    font-weight: 400;
}
#features .banners .banner-individual {
    background-position:  0 0;
}
#features .banners .banner-big-choose {
    background-position:  0 -115px;
    max-width: 430px;
}
#how-it-work .banners .banner .title {
    color: #7b6453;
    font-size: 114%;
    font-weight: 700;
    line-height: 24px;
}

#how-it-work .banners .banner-success{
    background-position:  -475px 0;
}
#how-it-work .banners .banner-success .title {
    margin-left: -45px;
    width: 265px;
}
#how-it-work .banners .banner-request {
    background-position:  0 0;
}

#how-it-work .banners .banner-deals {
    background-position:  -158px 0;
}

#how-it-work .banners .banner-choose {
    background-position:  -317px 0;
    width: 159px;
}
#sidebar .banners .banner p {
    font-size: 107%;
}
#sidebar .banners .banner-warranty{
    background-position:  -525px 0;
    width: 215px;
}
#sidebar .banners .banner-request {
    background-position:  0 0;
}

#sidebar .banners .banner-deals {
    background-position:  -176px 0;
}

#sidebar .banners .banner-choose {
    background-position:  -350px 0;
}
#sidebar .banners .banner .title,#subjects-menu .dropdown-menu .dropdown-footer .title {
    color:#7b6453;
    font-size: 157%;
    margin-bottom: 10px;
}
#subjects-menu .dropdown-menu .dropdown-footer .banners .banner {
    display: inline-block;
}
#main {
    padding: 120px 0 15px 0;
    background: #edede3;
}
#page-body #main {
    padding: 57px 10px 15px 15px;
    float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#page-body>.row {
    margin: 0;
}

.main-wrapper {
    margin: 0 auto;
    width: 940px;
}
.main-container {
    margin: 20px auto;
    width: 980px;
}
#banner {
    background: #20242d url('../img/bg-banners.jpg') no-repeat;
    width:100%;
    height: 682px;
    position:relative;
    padding:0;
}
#how-it-work  {
    background: #fff;
    margin-top: -5px;
    padding-top: 40px;
}
#features,#counter {
    background: #fffefc;
    padding-top: 40px;
    padding-bottom: 50px;
}

#discipline {
    background: #fff;
    border-top: 1px solid #f5f4ef;
    padding-top: 35px;
}
#how-it-work h2.title,#features h2.title,#discipline h2.title,#top-courses h2.title,#questions h2.title {
    color: #475062;
    font-size: 193%;
    font-weight: 700;
}

#time {
    background: #38a770 url("../img/time-bg.png") repeat-x;
    height: 210px;
    padding: 70px 0;
}
#time .btn {
    display: inline-block;
}
#time .banner {
    color: #fff;
    display: inline-block;
    margin-left: 20px;
}
#time .banner h3.title {
    font-size: 164%;
    font-weight: 700;
}
#questions {
    background: #fff;
    padding: 40px 0;
    border-bottom: 1px solid #f5f4ef;
}
#questions h2.title {
    margin-bottom: 20px;
}
#questions h3 {
    color: #2c3d5f;
    font-size: 143%;
    font-weight: 700;
}
#questions p {
    color: #59473a;
    font-size: 107%;
    margin: 10px 0 30px;
}
#questions .vk {
    float: right;
}
#top-courses {
    background: #fff;
    padding: 40px 0;
}
#discipline .list {
    list-style: none;
    padding: 0;
    margin: 30px 0 10px 0;
}
#discipline .list .header {
    color: #2c3d5f;
    display: block;
    font-size: 121%;
    font-weight: 700;
}
#discipline .list li {
    display: inline-block;
    margin:10px 30px 10px 0;
}
#discipline .list a {
    color: #5f3f23;
    font-size: 107%;
    text-decoration: underline;
}
#discipline .more {
    color: #eb613d;
    cursor: pointer;
    font-size: 107%;
    border-bottom: 1px dotted;
    text-decoration: none;
}
#counter .banner,#counter .btn {
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
}
#counter .btn,#time .btn {
    font-size: 107%;
    padding: 15px 30px;
    vertical-align: top;
    margin-top: 5px;
}
#counter .banner .title {
    color: #475062;
    display: block;
    font-weight: 700 ;
}
#counter .value {
    display: inline-block;
    padding-top: 5px;
    margin-right: 10px;
}
#counter .value span {
    background: transparent;
    border:1px solid #dad7c9;
    border-radius: 3px;
    color: #20242c;
    font-size: 278%;
    font-weight: 700;
    padding: 2px 5px;
    position: relative;
    z-index: 2;
}
#counter .value span:after {
    background: #ccc;
    display: block;
    content: " ";
    height: 50%;
    left: 0;
    width:100%;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top,  rgba(245,244,238,1) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,244,238,1)), color-stop(70%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,244,238,1) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,244,238,1) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,244,238,1) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,244,238,1) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f4ee', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    z-index: -1;
}
#counter .banner p {
    color: #574241;
}
#top-courses-carousel {
    border: 1px solid #f0eeed;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#top-courses-carousel .carousel-control.left,#top-courses-carousel .carousel-control.right {
    background-image: none;
    color: #e9e7da;
    opacity: 1;
    text-shadow: none;
    width: auto;
}
#top-courses .course {
    border: 0;
    box-shadow: none;
    display: inline-block;
    float: left;
    height: 160px;
    min-height: 160px;
    margin: 0;
    padding: 30px;
    width: 50%;
}
#top-courses .course .photo {
    float: left;
}

#top-courses .course .info {
    margin-left: 100px;
    padding: 0;
}
#top-courses .course .info .name {
    color: #2c3d5f;
    font-size: 207%;
    text-decoration: none;
}
#top-courses .course .info .subject {
    border-top:1px solid #dedac9;
    color: #22262e;
    font-size: 114%;
    font-style: italic;
    padding-top: 8px;
}
#top-courses .course .info .subject a {
    color: #ec5a34;
    font-style: normal;
}
#top-courses .all {
    background:#fdfbf2;
    border: 1px solid #f0eeed;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top:0;
    height: 68px;
    text-align: center;
}
#top-courses .all a {
    color: #2c3d5f;
    font-size: 164%;
    line-height: 68px;
    position: relative;
}
#top-courses .all a:after {
    background: #cecab7;
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -2px;
}
#banner .bg {
    background: #20242d url('../img/bg-banners.jpg') no-repeat;
    min-height: 533px;
    padding: 0 40px;
    position: absolute;
    top:0;
    width: 100%;
}
#banner .bottom {
    background: #f5f4ef;
    border-bottom: 1px solid #dad7c9;
    bottom: 0;
    height: 150px;
    padding: 25px 40px;
    width: 100%;
    position: absolute;
}
#banner .bottom .warranty {
    left:0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    width: 940px;
    z-index: 10;
}
#banner .bottom .warranty p{
    color: #574241;
    font-size: 185%;
    line-height: 33px;
    width: 60%;
}
#banner .banner {
    height:  100% ;
    position: relative;
    width: 100%;
}
#banner .banner ul {
    display: none;
    list-style: none;
    padding: 0;
}
#banner .banner .title {
    z-index: 5;
}
#banner .banner .title h1 {
    color: #fff;
    margin: 85px 0 20px 0;
    font-size: 407%;
    z-index: 12;
}
#banner .banner .title h1 .subject:before {
    content: " ";
    display: block;
}
#banner .banner .title h1 .subject {
    border-bottom: 1px solid #eb613d;
    color: #eb613d;
    z-index: 12;
}
#banner .banner .title p{
    color: #f5f4ef;
    font-size: 107%;
    width: 390px;
}
#banner .banner .women {
    position: absolute;
    background: url('../img/banner-woomen.png') no-repeat;
    height: 699px;
    width: 470px;
    top:8px;
    right: 0;
    z-index: 3;
}
#banner .banner .warranty {

}
#banner .banner .buttons {
    margin-top: 25px;
}
#banner .banner .or {
    height: 35px;
    line-height: 30px;
    margin-left: 10px;

    color:#f5f4ef;
    font-size: 107%;
    font-style: italic;
    text-align: center;
}
#banner .banner .btn {
    font-style: normal;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
}
#banner .banner  .btn .glyphicon {
    font-size: 85%;
    font-weight: 400;
}
#banner .banner .btn-primary {
    margin-right: 5px;
    padding: 10px 20px;
}
#banner .banners .btn-default {
    margin-left: 5px;
}
#banner .banner  .more {
    margin-left: 5px;
    margin-top: 5px;
    width: 200px;
}
#banner .banner .more .text {
    display: inline-block;
    color:#747c8d;
    font-size: 97%;
    font-style: italic;
    padding-top: 5px;
    text-align: left;
}
#footer {
    background: #22262e;
}
#footer .social {
    margin-top: 30px;
}
#footer .social .title {
    color: #fff;
    font-size: 171%;
    font-weight: 700;
}
#footer .social .social-links a{
    color: #b9c1d2;
    font-size: 107%;
    padding: 0 7px;
    text-decoration: none;
}
#footer .social-share {
    color:#b6b6b8;
    margin-top: 25px;
}
#footer .social-share .fb {
    display: inline-block;
    height: 21px;
    width: 115px;
    vertical-align: bottom;
}
#footer .social-share .plusone {
    display: inline-block;
    width: 60px;
    height: 21px;
    vertical-align: bottom;
}
#footer .social-share #vk_like {
    display: inline-block;
    width: 120px;
    height: 21px;
    vertical-align: bottom;
}
#footer .social-share .tweet {
    display: inline-block;
    width: 120px;
    height: 21px;
    vertical-align: bottom;
}
#footer .contacts {
    margin-top: 30px;
    padding: 5px 0;
}
#footer .contacts .address {
    color: #b9c1d2;
    padding-top: 7px;
}
#footer .contacts .email,#footer .contacts .phone {
    display: block;
    color: #fff;
    font-size: 171%;
    font-weight: 700;
    text-decoration: none;
}
#footer .copyright {
    color: #5a5e66;
    margin: 50px 0 45px 0;
}
#footer #footer-menu {
    background: #1f2229;
}
#footer #footer-menu a:hover{
    background: none;
}
#footer #footer-menu a {
    color: #b9c1d2;
    position: relative;
    text-decoration: underline;
}
#footer-menu li p{
    color: #b9c1d2;
    padding-top: 15px;
}
#footer-menu .languages-menu .dropdown-toggle{
    color: #b9c1d2 !important;
    text-decoration: none !important;
}
.course {
    padding: 0 15px 30px;
}
.course-content {
    background: #fff;
    border: 1px solid #d4d4d4;
    min-height: 840px;
    margin-bottom: 20px;
}
label.inputPriceLabel {
    padding-top: 0;
}
.groups-list {
    max-height: 340px;
    overflow: auto;
    margin-bottom: 10px;
}
.course-picture
{
    height: 200px;
    position: relative;
    z-index: 1;
}
#course-block .course-picture {
    height: 360px;
}
.course-title {
    height: 110px;
    background: rgba(0,36,62,0.7);
    z-index: 4;
    position: relative;
    margin-top: -110px;
    overflow: hidden;
    padding: 20px;
}
.course-title h3 {
    color: #fff;
    margin: 0;
    display: inline-block;
    width: 100%;
    max-height: 110px;
    overflow: hidden;
}
.course-level-age {
    position: absolute;
    top: 80px;
    left: 35px;
    z-index: 5;
}
#course-block .course-level-age {
    top: 240px;
}
.course-age {
    display: inline-block;
    background: #eb613d;
    width: auto;
    padding: 2px 5px;
    color: #fff;
    text-transform: uppercase;
}
.course-level {
    display: inline-block;
    background: #56b056;
    width: auto;
    padding: 2px 5px;
    color: #fff;
    text-transform: uppercase;
}
.course-rating {
    margin: 10px 15px 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e3e3;
}
.course-rating-label, .course-group-label, .course-group-closest-label {
    color: #006699;
    font-weight: bold;
    display: inline-block;
}
.course-rating-stars {
    display: inline-block;
}
.course-rating-stars i {
    font-size: 11px;
}
.course-rating-stars i, .course-rating-messages i {
    color: #eb613d;
}
.course-group-date {
    display: inline-block;
    margin-right: -15px;
    font-size: 13px;
}
.course-description {
    margin: 10px 15px 0 15px;
    height: 150px;
    border-bottom: 1px solid #e4e3e3;
    overflow: hidden;
}
.course-group, .course-price, .course-more-btn {
    margin: 10px 15px 0 15px;
}
.course-content .course-order {
    width: 43%;
}
.course-content .course-price-amount {
    font-size: 18px;
    width: 57%;
    text-align: right;
}
.course-order a.btn {
    padding-left: 8px;
    padding-right: 8px;
}
.course-price-amount span {
    font-size: 23px;
    font-weight: bold;
}
.course-price-amount i {
    font-size: 15px;
}
.course-price {
    border-bottom: 1px solid #e4e3e3;
    padding-bottom: 10px;
}
.course-more-btn a:hover {
    text-decoration: none;
}
.course-more-btn a {
    color: #006699;
    text-decoration: underline;
}

#submenu {
    top: 60px;
    position: fixed;
    background: #001b2f;
    z-index: 100;
    width: 100%;
    padding: 0 20px;
}
#categories, #subCategories ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
#categories {
    border-bottom: 1px solid #ccc;
}
#categories li {
    display: inline-block;
}

#categoryInfo, #subCategories {
    float: left;
}

#submenu a, #subCategories a {
    color: #fff;
    padding: 4px 8px;
    display: block;
    border: 1px solid transparent;
    background: transparent;
    margin: 15px;
    border-radius: 5px;
}
#submenu .active a {
    background: #f36849;
}
#submenu a:hover {
    background: #10293b;
    border: 1px solid #183e5b
}
#subcategory {
    margin-top: 120px;
    background: #001b2f;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
}
.with-subcategories {
    padding-top:0!important;
}
#subCategories a {
    margin: 5px;
}
.category-title {
    margin-left: 8px;
}
.category-title h2 {
    color: #fff;
}
.category-courses {
    margin-left: 8px;
    color: #f36849;
    font-size: 20px;
}

#course-block {
    background: #fff;
    border: 1px solid #d4d4d4;
    display: inline-block;
}

#course-block .breadcrumb {
    background: transparent;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    margin-bottom: 0;
}

.bottom-border {
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment {
    margin: 15px 0 10px;
    display: inline-block;
    width: 100%;
}
.comment-author {
    font-weight: bold;
    color: #006699;
}
.comment-title {
    font-weight: bold;
    display: inline-block;
}
.comment-stars {
    display: inline-block;
}
.comment-date {
    font-size: 13px;
    color: #999999;
}

#course-groups {
    border: 7px solid #eb613d;
    min-height: 550px;
    margin-left: -15px;
    border-bottom: 0;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 1199px) {
    #course-groups {
        border: none;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.course-groups-chevron {
    position: relative;
    text-align: center;
    padding: 4px;
    margin-left: -15px;
    margin-top: -27px;
}
@media (min-width: 1500px) {
    .course-groups-chevron {
        margin-top: -34px;
    }
}
@media (min-width: 1875px) {
    .course-groups-chevron {
        margin-top: -40px;
    }
}
.course-groups-chevron:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:50%;
    background:#eb613d;

    -webkit-transform:skew(0deg,-15deg);
    -moz-transform:skew(0deg,-15deg);
    -ms-transform:skew(0deg,-15deg);
    -o-transform:skew(0deg,-15deg);
    transform:skew(0deg,-15deg);
}
.course-groups-chevron:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:50%;
    background:#eb613d;
    -webkit-transform:skew(0deg,15deg);
    -moz-transform:skew(0deg,15deg);
    -ms-transform:skew(0deg,15deg);
    -o-transform:skew(0deg,15deg);
    transform:skew(0deg,15deg);
}

.course-group-closest {
    margin-bottom:30px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.course-group-closest-with-border {
    border: 7px solid #eb613d;
    padding: 15px;
}
.course-group-closest-date {
    display: inline-block;
}
.course-group-closest-price {
    font-size: 31px;
}
.course-group-closest-price span {
    font-weight: bold;
}
.course-group-closest-price i {
    font-size: 22px;
}
.course-group-closest-order-btn {
    float: left;
}
.course-group-closest-places-block {
    float: left;
    margin-left: 15px;
}
.course-group-closest-places {
    background: white;
    border-radius: 8px;
    padding: 3px 10px;
    position: absolute;
    text-align: left;
    z-index: 10;
    border: 1px solid rgba(168, 168, 168, 0.5);
}
.course-group-closest-places:before {
    content: " ";
    border-right: 8px solid #ccc;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    z-index: 0;
    left: -8px;
    top: 21%;
}
.course-group-closest-places:after {
    content: " ";
    border-right: 8px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    z-index: 1;
    left: -7px;
    top: 21%;
}

.course-group-closest-block {
    padding: 10px 15px;
}
.course-group-closest-block:hover {
    background: #eef7fb;
}
.course-group-closest-order-price {
    float: left;
    margin: 5px 10px;
    font-weight: bold;
}
.course-groups-block-label {
    padding: 0 15px;
    font-weight: bold;
    color: #006699;
}

.course-group-closest-date-lessons {
    margin-bottom: 5px;
    font-weight: bold;
}
.course-group-closest-date-lessons span{
    font-weight: normal;
    color: #006699;
}
.course-group-share {
    padding: 5px 15px;
    font-weight: bold;
    color: #006699;
}
.course-group-time {
    padding: 10px 15px;
}

.back-to-catalog a.back-btn {
    background: #fff;
    color: #333;
    border-color: #d4d4d4;
}
.back-to-catalog a.back-btn i {
    color: #eb613d
}

.course-comment-form {
    display: inline-block;
    border: 1px solid #d4d4d4;
    padding: 20px 0 15px;
    margin-top: 10px;
}


#group-form {
    background: #fff;
    border: 1px solid #d4d4d4;
    font-size: 16px;
}

#group-form .course-level-age {
    position: initial;
}

#group-form .rating {
    margin-left: 10px;
}

.rating i {
    color: #eb613d;
    font-size: 15px;
}

#group-form label {
    font-weight: normal;
}

#group-form .course-group-closest-places {
    margin: 20px 0;
}

#group-form .course-buy-data .course-group-closest-places {
    margin-top:0
}

.course-buy-data {
    height: 70px;
}

.listener-pattern {
    display: none;
}

#subCategories .active a {
    border: 1px solid #f36849;
    background: #f36849;
}
#subCategories a:hover {
    border: 1px solid #183e5b;
    background: #10293b;
}



.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 8px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 8px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 8px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 8px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #6bc16b;
    border-color: #4a904a;
    cursor: pointer;
}

.ui-widget-header {
    background: #4a904a;
}

.course .row {
    margin: 0;
	overflow: hidden;
}
.course .card-wrap {
    width: 285px;
    position: absolute;
    height: 100%;
    left: 0;
    top:0;
}
.course .card {
    text-align: center;
    height: 100%;
    padding: 10px;
    border-right:1px solid #e6e4d9;
}
.course .card:after, .course .card:before {
    left: 100%;
	margin-left: -1px;
    top: 24px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.course .card:after {
    border-color: transparent;
    border-left-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.course .card:before {
    border-color: transparent;
    border-left-color: #e6e4d9;
    border-width: 8px;
    margin-top: -8px;
}
.course .card img{
    display: block;
	width: 265px;
}
.course .card .links {
    position: absolute;
    bottom: 10px;
}

.course .course-table {
    width: 100%;
	border-collapse: collapse;
	border: 1px solid #e6e4d9;
}

.course .course-table td {
    padding: 5px;
	border: 1px solid #e6e4d9;
	vertical-align: top;
	text-align: center;
	width: 20%;
}

.course .course-table tr td:first-child {
	text-align: left;
   	width: auto;
}

.course .course-table th {
    padding: 5px;
	border: 1px solid #e6e4d9;
	vertical-align: top;
	background: #e6e4d9;
	color: #000000;
	text-align: left;
	font-weight: bold;
	text-align: center;
	width: 20%;
}

.course .course-table tr th:first-child {
	text-align: left;
   	width: auto;
}

.course .info {
    min-height: 250px;
    padding: 10px;
    margin-left: 300px;
}
.course .places {
    width: 114px;
}
.course .places .label {
    border: 1px solid #e6e4d9;
    color: #333;
    display: block;
    font-size: 93%;
    font-style: italic;
    font-weight: 400;
    margin: 7px 0;
    padding: 8px 10px;
    width: 114px;
}
.course .places .label-skype_old {
    background: #bfefc6;
    border: 1px solid #91d59a;
}
.course .info .name {
    font-size: 157%;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.course .info .left {
    min-width: 340px;
    padding: 0;
}
.course .info .right {
    padding: 0;
}
.course .info .name a{
    color: #333;
    border-bottom: 1px solid #e1decb;
}
.course .meta {
    border-top: 1px solid #e6e4d9;
    margin-left: 285px;
    height: 40px;
    padding: 5px 25px;
}
.course .info .subjects {
    color: #eb613d;
    font-size: 107%;
    margin-bottom: 20px;
}
.course .info .subjects a {
    text-decoration: underline;
}
.course .info .price {
    float: right;
}
.course .info .price,.course .card .price {
    font-size: 92%;
    margin-bottom: 10px;
}
.course .info .price .value,.course .card .price .value {
    font-size: 200%;
    font-weight: 700;
    vertical-align: middle;
}
.course .info .description .title,.course .info .education .title,.course .info .school-info .title{
    color:#6c513b;
    font-size: 150%;
    margin: 0 0 8px 0;
}
.course .info .description,.course .info .education {
    color:#161616;
    margin-bottom: 20px;
}
.course .meta .place{
    padding-top: 5px;
    vertical-align: top;
    float: left;
}
.course .card .profile {
    display: block;
    font-size: 75%;
    margin-left: 0px;
    padding: 6px 2px;
    width: 114px;
}
.course .school-info {
	overflow: hidden;
}
.course .school-info .school-info-image {
	width: 160px;
	float: left;
	margin-bottom: 10px;
}

.course .school-info .school-info-image img {
	width: 140px;
	display: block;
}

.course .school-info .school-info-text {
	overflow: hidden;
}

#top-banner {
    position: relative;
    height: 72px;
    background: #ffffff url('../img/clock.png') top left no-repeat;
    border-bottom: 1px solid #dddbd7;
    font-size: 93%;
    margin-left: -15px;
    margin-right: -10px;
}

#top-banner .container {
    width: 100%;
    border-bottom: 1px dashed #eb613d;
    height: 72px;
    padding: 10px;
}

#top-banner .btn {
    margin: 10px 10px 10px 120px;
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

#top-banner .title {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 5px 0 0 0;
}
#filters {
    padding-bottom: 20px;
}
#filters .title {
    font-size: 35px;
    color: #2f4b60;
    font-weight: normal;
    margin-left: 15px;
}
#filters .control-label{
    color:#2f4b60;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
#filters .form-control {
    color: #555;
    background:#fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.slider-handle {
    background-color: #3AA569;
    background-image: -webkit-linear-gradient(top,#6bc16b 0,#6bc16b 100%);
    background-image: -o-linear-gradient(top,#6bc16b 0,#6bc16b 100%);
    background-image: linear-gradient(to bottom,#6bc16b 0,#6bc16b 100%);
}
.slider-selection {
    background-image: -webkit-linear-gradient(top, #9cf89c 0, #9cf89c 100%);
    background-image: -o-linear-gradient(top,#9cf89c 0,#9cf89c 100%);
    background-image: linear-gradient(to bottom,#9cf89c 0,#9cf89c 100%);
}

.responses{
    padding: 0;
    list-style: none;
}
.response {
    background: #fff;
    border:1px solid #e6e4d9;
    -moz-box-shadow:    5px 5px 0px -2px #eae8de;
    -webkit-box-shadow: 5px 5px 0px -2px #eae8de;
    box-shadow:         5px 5px 0px -2px #eae8de;
    min-height: 210px;
    height: 100%;
    margin: 40px 0;

    width: 100%;
}
.response .order {
    padding: 25px;
}
.response .order .subject {
    color:#e65d46;
    font-size: 107%;
    font-weight: 700;
}
.response .order .info {
    color:#333;
    font-size: 107%;
    font-style: italic;
    margin-bottom: 10px;
}
.response .order .info .client {
    font-size: 193%;
    font-weight: 700;
    font-style: normal;
}
.response .order .info .order-link {
    color: #644123;
    font-size: 107%;
    font-style: normal;
    text-decoration: underline;
}
.response .order  .meta {
    border-top:1px solid #f5f4ee;
    padding-top: 20px;
}
.response .order .meta .label {
    color: #333;
    font-size: 107%;
    font-weight: 400;
    padding: 0;
}
.response .order  .meta .price,.response .meta .duration,.response .meta .total{
    display: inline-block;
    margin-right: 15px;
}
.response .order  .meta .place {
    display: block;
    margin-bottom: 15px;
}
.response .order  .meta .price {
    clear: both;
}
.response .order  .contacts {
    color: #333;
    font-size: 150%;
    font-weight: 700;
    margin-top: 20px;
}
.response .order  .contacts .phone {
    margin-right: 25px;
}
.response .order  .contacts a{
    color: #333;
}
.response .form-response {
    background: #fdfdfc;
    border-top:1px solid #e9e7dc;
    box-shadow: 0 0 0 rgba(0,0,0,.075), inset 0 3px 15px rgba(0,0,0,.075),0 0 0 rgba(0,0,0,.075),0 0 0 rgba(0,0,0,.075);
    padding: 20px;
    position: relative;
}


.response .form-response:after, .response .form-response:before {
    left: 100px;
    top: -8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.response .form-response:after {
    border-color: transparent;
    border-bottom-color: #f4f4f2;
    border-width: 8px;
    margin-top: -8px;
}
.response .form-response:before {
    border-color: transparent;
    border-bottom-color: #e6e4d9;
    border-width: 7px;
    margin-top: -7px;
}
.response .form-response textarea,#response-form textarea {
    background: #fff;
    border:1px solid #e1d7d6;
    border-radius:5px;
    height: 45px;
    width: 100%;
}
#response-form input[type="text"]{
    background: #fff;
    border:1px solid #e1d7d6;
    border-radius:5px;
}
#response-form .form-group {
    margin-bottom: 15px;
}
#response-form .form-group .controls-row,#response-form .form-group .control-label {
    display: inline-block;
    vertical-align: middle;
}
.response .form-response .control-label {
    color: #6c513b;
    font-size: 107%;
    font-weight: 700;
}
.response .form-response .controls {
    display: inline-block;
}
#order-list {
    list-style: none;
    padding: 0;
}
#order-list .order {
    background: #fff;
    border:1px solid #e6e4d9;
    border-radius: 5px;
    -moz-box-shadow:    5px 5px 0px -2px #eae8de;
    -webkit-box-shadow: 5px 5px 0px -2px #eae8de;
    box-shadow:         5px 5px 0px -2px #eae8de;
    min-height: 270px;
    margin: 10px 0;
    height: 100%;
    padding: 25px 0 0 0;
    position: relative;
    width: 100%;
}
#order-list .order .price{
    background: url('../img/icons.png') no-repeat;
    background-position: 0 -138px;
    color: #993333;
    display: block;
    height: 90px;
    left: 10px;
    padding:33px 0 0 30px;
    position: absolute;
    top:-7px;
    vertical-align: middle;
    width: 185px;
    z-index: 2;
}
#order-list .order .price .value {
    color: #fff;
    font-size: 200%;
    font-weight: 700;
    vertical-align: middle;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
}
#order-list .order .title {
    border-bottom: 1px solid #e1d7d6;
    display: inline-block;
    font-size: 250%;
    margin: 0 0 0 200px;
}
#order-list .order .title a {
    color:#644123;
}
#order-list .order .info {
    margin: 15px 25px;
}
#order-list .order .info .places,#order-list .order .info .duration {
    display: inline-block;
    margin-right: 15px;
}
#order-list .order .info .places .label {
    border: 1px solid #e6e4d9;
    color: #333;
    display: inline-block;
    font-size: 93%;
    font-style: italic;
    font-weight: 400;
    margin: 7px 0;
    padding: 8px 10px;
    width: 114px;
}
#order-list .order .info .places .label-skype_old {
    background: #bfefc6;
    border: 1px solid #91d59a;
}
#order-list .order .info .duration .icon-time {
    margin: 0 5px;
    vertical-align: middle;
}
#order-list .order .info .duration .value {
    font-size: 150%;
}
#order-list .order .comment,#order-list .order .meta {
    margin: 10px 25px;
}
#order-list .order .meta .cnt-responses,#order-list .order .meta .cnt-new-responses{
    display: inline-block;
    margin-left: 10px;
}
#order-list .order .meta .cnt-responses .label-default {
    background: #e6e4d9;
    color: #5f3f23;
    font-weight: 700;
}
#order-list .order .meta .cnt-new-responses .label-success{
    background: #99cf45;
    color: #fff;
    font-weight: 700;
}
#order-list .order .comment .title {
    border: 0;
    display: block;
    font-size: 107%;
    font-weight: 700;
    margin:5px 0;
}
#order-list .order .responses,#order-list .course .contacts,#response-form {
    background: #fdfdfc;
    border-top:1px solid #e9e7dc;
    box-shadow: 0 0 0 rgba(0,0,0,.075), inset 0 3px 15px rgba(0,0,0,.075),0 0 0 rgba(0,0,0,.075),0 0 0 rgba(0,0,0,.075);
    position: relative;
    margin-top: 20px;
    width: 100%;
}

#order-list .order .responses:after,#order-list .order .responses:before,
#order-list .course .contacts:after,#order-list .course .contacts:before,
#response-form:before,#response-form:after {
    left: 100px;
    top: -8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
#order-list .order .responsse:after,#order-list .course .contacts:after,#response-form:after {
    border-color: transparent;
    border-bottom-color: #f4f4f2;
    border-width: 8px;
    margin-top: -8px;
}
#order-list .order .responses:before,#order-list .course .contacts:before,#response-form:before {
    border-color: transparent;
    border-bottom-color: #e6e4d9;
    border-width: 7px;
    margin-top: -7px;
}
#response-form {
    padding: 20px;
}
#response-form textarea {
    width: 100%;
}
#order-list .order .responses .title{
    border: 0;
    margin: 25px 0 0 30px;
    font-size: 193%;
    font-weight: 400;
}
#order-list .order .responses .courses {
    width: 100%;
}
#order-list .order .responses .courses td {
    border-left: 1px solid #eeece2;
    border-bottom: 1px solid #eeece2;
}
#order-list .order .responses .courses td{
    padding: 20px 30px;
}
#order-list .order .responses .courses .photo,#order-list .course .photo {
    float: left;
    margin-right: 20px;
}
#order-list .course .photo {
    margin: 20px 25px;
}
#order-list .course {
    position: relative;
    min-height: 0;
}
#order-list .course .info {
    display: inline-block;
    padding: 0;
    margin: 20px 25px 20px 0;
    min-height: 0;
    position: relative;
}
#order-list .course  form {
    position: absolute;
    right: 20px;
    top:30px;
}
#order-list .course .info .subject {
    color: #e65d46;
    font-size: 107%;
    font-weight: 700;
}
#order-list .course .contacts {
    padding: 25px 20px;
}
#order-list .course .contacts .skype,#order-list .course .contacts .phone {
    color: #333;
    font-size: 150%;
    font-weight: 700;
    margin-right: 20px;
}
#order-list .course .contacts .skype a {
    color: #333;
}
#order-list .course .contacts .place {
    display: inline-block;
    font-size: 107%;
}
#order-list .order .responses .courses .name{
    border-bottom: 1px solid #e1d7d6;
    display: inline-block;
    font-size: 157%;
}
#order-list .order .responses .courses .name a {
    color:#333;
}
#order-list .order .responses .courses .price {
    background: 0;
    color: #161616;
    display: table-cell;
    height: auto;
    padding: 20px;
    position: inherit;
    text-align: center;
    width: 180px;
}
#order-list .order .responses .courses .price .value {
    color: #333;
    font-size: 200%;
    font-weight: 700;
    text-shadow: none;
}
#order-list .order .responses .courses .actions {
    padding: 20px 10px;
    width: 220px;
}
.modal {
    top:57px;
}
#main .modal {
    background: none;
    display: block;
    margin: 20px auto;
    overflow: visible;
    position: relative;
    z-index: 1;
    top:auto;
}
#main .modal .modal-dialog {
    margin: 0 auto;
}
.modal .modal-content{
    background: #fff;
    border: none;;
}
.modal .modal-header {
    border: none;
    padding: 25px 25px 0 25px;
    text-align: left;
}

.modal .modal-header .close {
    margin-top: -10px;
}
#main .modal .modal-title {
    text-align: left;
}
.modal .modal-content {
    border: none;
    border-radius: 0;
}

.modal .modal-content {
    background: #fff;
    box-shadow: none;
    padding: 15px 30px 30px 25px;
}
#main #request-form .modal-content {
    padding: 0 !important;
}
#signup-form,#signup-form .modal-dialog {
    width: 625px;
}

#signup-form.step1,#signup-form.step1 .modal-dialog {
    width: 460px;
}
#login-form .modal-dialog,#loginModal .modal-dialog{
    text-align: center;
    width: 415px;
}
#login-form .modal-header,#loginModal .modal-header{
    text-align: center;
}
#login-form .btn,#loginModal .btn,#signup-form .btn {
    font: 85%;
    width: 100%;
}
.popover{
    border:1px solid #e0d9d5;
    box-shadow: none;
    max-height: 410px;
    overflow-y: auto;
}
.popover .arrow {
    display: none;
}
.popover-subject {
    color: #5f3f23;
    display: block;
    font-size: 107%;
    padding: 7px 0;
    text-decoration: none;
}
.social-login {

    display: block;
    margin: 10px auto;
    text-align: center;
}
.request-form .social-login {
    display: inline-block;
}
.modal-title {
    font-size: 125%;
    font-weight: 700;
}
.modal-body {
    padding: 15px 25px;
}
#cityModal .modal-content{
    max-width: 550px;
}
#cityModal .modal-body .cities li {
    display: inline-block;
    margin: 5px 0;
    width: 30%;
}
#cityModal .modal-body .cities a{
    cursor: pointer;
    color: #999;
    padding: 5px;
}
#cityModal .modal-body .cities .active a{
    color: #000;
    font-weight: 700;
}
#cityModal .modal-header span{
    color: #eb6436;
}
#signup-form h2 {
    font-size: 128%;
}

#signup-form .skype,#order .skype {
    width: 100%;
}

.tab-pane #signup-form {
    padding: 0;
    margin-top: 0;
    margin-left: -5px;
}
.request-form .skype {
    margin-top: 15px;
}
.has-error .help-block {
    color: #a94442 !important;
}
div.arrow {
    width: 85px;
    background-image: url('/img/icon-8.png');
    background-repeat: no-repeat;
    height: 50px;
    float:left;
    background-position: 30px 30px;
}
#request-form,.request-form .modal-dialog,.request-form .modal-dialog .modal-content {
    padding: 0;
    width: 713px;
}
.request-form .modal-header {
    padding: 35px 15px 0 25px;
    background: #fff;
    height: 216px;
    border: none;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #e65d46;
}
.request-form .modal-header:after,.request-form .modal-header:before {
    left: 100px;
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.request-form .modal-header:after {
    border-color: transparent;
    border-top-color: #fff;
    border-width: 7px;
    margin-left: 1px;
    margin-top: -1px;
}

.request-form .modal-header:before {
    border-color: transparent;
    border-top-color: #e65d46;
    border-width: 8px;
}
.request-form .modal-body .title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.request-form .modal-body {
    padding: 20px 25px 0 25px;
    margin: 0;
}
#order-steps .step {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}
#order-steps .banner {
    background: url('../img/how-it-works.png') no-repeat;
    height: 110px;
    margin: 0 auto;
    width: 109px;
}
#order-steps .banner-request {
    background-position: -640px 0;
}
#order-steps .banner-deals {
    background-position: -748px 0;
}
#order-steps .banner-choose {
    background-position: -858px 0;
}
#order-steps .glyphicon-arrow-right {
    color: #e65d46;
    display: inline-block;
    font-size: 150%;
    margin-top: 40px;
    vertical-align: top;
}

.form-group {
    margin-bottom: 25px;
}
.request-form textarea {
    width: 390px;
    resize: none;
}

input.address {
    width: 390px;
}

.request-form input.price {
    width:105px !important;
    float:left;
    margin-right: 10px;
}

input.ok {
    padding-left: 30px;
}

.form-group .where {
    float:left;
    width: 17px;
    height:17px;
    margin-top: 11px;
}

.form-group span.price {
    color: #666;
    font-size: 16px;
    font-style: italic;
    display: block;
    padding-top: 10px;
    float: left;
    padding-right: 30px;
}
h3.bubble {
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 35px;
}

div.bubble a.btn {
    font-size: 17px;
}

p.bubble {
    text-align: center;
}

div.items {
    margin-bottom: 25px;
}
div.items p {
    float:left;
    width: 222px;
    color:#666666;
    font-size: 16px;
    margin-top: 8px;
}
.help-block {
    float: none;
}
div.items span,.request-form .help-block {
    font-style: italic;
    font-size: 14px;
    color: #666666;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 0;
}
.request-form .form-control {

    font-size: 16px;
    color: #666666;
    padding-left: 10px;
}
.subject-item {
    clear: both;
    margin: 15px 0;
}

.subjectTypes {
    margin: 5px 0 25px;
}

.wizard {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #dcdcdb;
    margin-bottom: 40px;
    text-align: center;
}

.wizard .step {
    color: #777777;
    display: inline-block;
    margin-top: 26px;
    margin-right: 20px;
}

.wizard .step span {
    position: relative;
    left: -10px;
    width: 30px;
    background-color: #777777;
    display: inline-block;
    border-radius: 15px;
    font-size: 107%;
    line-height: 30px;
    top: 0;
    font-weight: bold;
    height: 30px;
    color: white;
}

.wizard .active span {
    background-color: #eb613d;
}
#profile {
    margin: 20px auto;
    width: 960px;

}
#profile hr {
    border: 0;
    background: #e1decb;
    clear: both;
    height: 1px;
    margin: 10px 0;
}
#profile h2.name {
    font-size: 157%;
    font-weight: 700;
}
#profile .title {
    font-size: 128%;
    font-weight: 700;
}
#profile h2 a {
    color: #555;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}
#profile .social {
    margin-top: 10px;
}
#profile .price span {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    vertical-align: middle;
}
#profile .place {
    font-weight: 700;
}
#profile .subjects {
    padding: 5px 0;
}

#profile .subjects a {
    font-size: 14px;
    text-transform: uppercase;
}
#profile .job,#profile .ed {
    margin: 20px 0;
}
#profile .univer {
    clear: both;
    margin: 5px 0;
}

#profile .univer .photo {
    float: left;
    margin-right: 15px;
}
#profile .reviews {
    margin-top: 30px;
}
#profile .review {
    margin: 20px 0;
}
#profile .review .name {
    font-size: 16px;
    font-weight: 700;
}
#profile .review .text {
    color: #777777;
    margin-top: 5px;
}
#address-map {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
}

a#add-subject:before, a#add-university:before, a#upload-photo:before {
    color: #eb613d;
    content: "✚ ";
}

a#add-subject {
    clear: both;
    display: block;
    color: #999999;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
}

a.add-univer-doc, a#add-university, a#upload-photo {
    clear: both;
    color: #999999;
    cursor: pointer;
    display: block;
    font-size: 14px;
    text-decoration: none;
}
a.add-univer-doc {
    background: url('../img/up.png') no-repeat center left;
    padding-left: 20px;
}

.university-docs {
    margin-top: 5px;
    height: 25px;
}
.university-docs input {
    width: 300px;
    margin-top: -20px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    height: 20px;
    filter: alpha(opacity=0);
    font-size: 15px;
    cursor: pointer;
}

.control-label.col-sm-4 {
    padding-left: 0; padding-right: 0;
}
.form-vertical .control-label {
    font-size: 18px;
    font-weight: bold;
}
.userpic {
    height: 400px;
    width: 400px;
    display: block;
    margin: 0 auto;
}

.userpic .btn {
    margin-top: 350px;
    margin-left: 120px;
}

.userpic .js-upload {
    margin-left: 140px;
}
.userpic .btn .btn-txt {
    font-size: 14px;
}

#course .control-label {
    font-size: 128%;
    font-weight: 700;
    padding-left: 0;
}
.ui-autocomplete {
    max-width: 515px;
}
.tab-pane {
    padding: 20px 0;
}
.tab-pane .modal {
    background: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #f5f4ee;
}
.redactor_box {
    -moz-box-shadow:    0 5px 5px  #eae8de;
    -webkit-box-shadow: 0 5px 5px  #eae8de;
    box-shadow:         0 5px 5px  #eae8de;
}

#header .dropdown-menu {
    background: #001b2f;
    width: 100% !important;
    border-color: #10293b;
    border-top-color: #001b2f;
}

#header .dropdown-menu>li>a:hover, #header .dropdown-menu>li>a:focus {
    background: #10293b;
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #001b2f;
    border-color: #14354d!important;
}
#header .dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

/*!
 * Bootstrap-select v1.6.0 (http://silviomoreto.github.io/bootstrap-select/)
 *
 * Copyright 2013-2014 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */
.bootstrap-select{width:220px \0}
.bootstrap-select>.btn{width:100%;padding-right:25px}
.error .bootstrap-select .btn{border:1px solid #b94a48}
.bootstrap-select.fit-width{width:auto!important}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=span]{float:none;display:inline-block;margin-bottom:10px;margin-left:0}
.bootstrap-select.form-control{margin-bottom:0;padding:0;border:none}
.bootstrap-select.btn-group.pull-right,
.bootstrap-select.btn-group[class*=span].pull-right,
.row-fluid .bootstrap-select.btn-group[class*=span].pull-right{float:right}
.form-search .bootstrap-select.btn-group,.form-inline .bootstrap-select.btn-group,.form-horizontal .bootstrap-select.btn-group,.form-group .bootstrap-select.btn-group{margin-bottom:0}.input-append .bootstrap-select.btn-group{margin-left:-1px}.input-prepend .bootstrap-select.btn-group{margin-right:-1px}.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width:220px}.bootstrap-select.form-control:not([class*=span]){width:100%}.bootstrap-select.show-menu-arrow.open>.btn{z-index:2051}.bootstrap-select .btn:focus{outline:thin dotted #333!important;outline:5px auto -webkit-focus-ring-color!important;outline-offset:-2px}.bootstrap-select.btn-group .btn .filter-option{display:inline-block;overflow:hidden;width:100%;text-align:left}.bootstrap-select.btn-group .btn .caret{position:absolute;top:50%;right:12px;margin-top:-2px;vertical-align:middle}.bootstrap-select.btn-group>.disabled,.bootstrap-select.btn-group .dropdown-menu li.disabled>a{cursor:not-allowed}.bootstrap-select.btn-group>.disabled:focus{outline:0!important}.bootstrap-select.btn-group[class*=span] .btn{width:100%}.bootstrap-select.btn-group .dropdown-menu{min-width:100%;z-index:2000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bootstrap-select.btn-group .dropdown-menu.inner{position:static;border:0;padding:0;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.bootstrap-select.btn-group .dropdown-menu dt{display:block;padding:3px 20px;cursor:default}.bootstrap-select.btn-group .div-contain{overflow:hidden}.bootstrap-select.btn-group .dropdown-menu li{position:relative}.bootstrap-select.btn-group .dropdown-menu li>a.opt{position:relative;padding-left:35px}.bootstrap-select.btn-group .dropdown-menu li>a{cursor:pointer}.bootstrap-select.btn-group .dropdown-menu li>dt small{font-weight:400}.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark{position:absolute;display:inline-block;right:15px;margin-top:2.5px}.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{display:none}.bootstrap-select.btn-group .dropdown-menu li a span.text{display:inline-block}.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{margin-right:34px}.bootstrap-select.btn-group .dropdown-menu li small{padding-left:.5em}.bootstrap-select.btn-group .dropdown-menu li:not(.disabled)>a:hover small,.bootstrap-select.btn-group .dropdown-menu li:not(.disabled)>a:focus small,.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled)>a small{color:#64b1d8;color:rgba(100,177,216,.4)}.bootstrap-select.btn-group .dropdown-menu li>dt small{font-weight:400}.bootstrap-select.show-menu-arrow .dropdown-toggle:before{content:'';border-left:7px solid transparent;border-right:7px solid transparent;border-bottom-width:7px;border-bottom-style:solid;border-bottom-color:#ccc;border-bottom-color:rgba(204,204,204,.2);position:absolute;bottom:-4px;left:9px;display:none}.bootstrap-select.show-menu-arrow .dropdown-toggle:after{content:'';border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;bottom:-4px;left:10px;display:none}.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before{bottom:auto;top:-3px;border-bottom:0;border-top-width:7px;border-top-style:solid;border-top-color:#ccc;border-top-color:rgba(204,204,204,.2)}.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after{bottom:auto;top:-3px;border-top:6px solid #FFF;border-bottom:0}.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before{right:12px;left:auto}.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after{right:13px;left:auto}.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before,.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after{display:block}.bootstrap-select.btn-group .no-results{padding:3px;background:#f5f5f5;margin:0 5px}.bootstrap-select.btn-group .dropdown-menu .notify{position:absolute;bottom:5px;width:96%;margin:0 2%;min-height:26px;padding:3px 5px;background:#f5f5f5;border:1px solid #e3e3e3;box-shadow:inset 0 1px 1px rgba(0,0,0,.05);pointer-events:none;opacity:.9;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bootstrap-select.btn-group.fit-width .btn .filter-option{position:static}.bootstrap-select.btn-group.fit-width .btn .caret{position:static;top:auto;margin-top:-1px}.control-group.error .bootstrap-select .dropdown-toggle{border-color:#b94a48}.bootstrap-select-searchbox,.bootstrap-select .bs-actionsbox{padding:4px 8px}.bootstrap-select .bs-actionsbox{float:left;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bootstrap-select .bs-actionsbox .btn-group button{width:50%}.bootstrap-select-searchbox+.bs-actionsbox{padding:0 8px 4px}.bootstrap-select-searchbox input,.bootstrap-select-searchbox .form-control{margin-bottom:0;width:100%}.mobile-device{position:absolute;top:0;left:0;display:block!important;width:100%;height:100%!important;opacity:0}

.bootstrap-select{
    border:0 !important;
}
.bootstrap-select > .btn,.bootstrap-select > .btn:focus,.bootstrap-select > .btn.active{
    background: #fff;
    border: 1px solid #e1dfd8;
    border-radius: 3px;
    -moz-box-shadow:    0 5px 5px  #eae8de;
    -webkit-box-shadow: 0 5px 5px  #eae8de;
    box-shadow:         0 5px 5px  #eae8de;
    color: #333;
    font-size: 100%;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    padding-right: 25px;
    text-transform: none;
    outline: 0 !important;
}
.bootstrap-select.btn-group.open {
    border: 3px solid #eb623e !important;
    height: 38px;
    margin-top: -2px;
}
.bootstrap-select.btn-group.open>.dropdown-toggle {
    border: 0;
    background-color: #fff;
    box-shadow: none;
}
.bootstrap-select.btn-group .btn .caret{
    border: 0;
    color: #eb613d;
    font-size: 70%;
    height: auto;
    width: auto;
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
}
.bootstrap-select.btn-group .btn .caret:before {
    content: '\e114';
}
.bootstrap-select.btn-group.open .btn .caret{
    color:#d4c4b9;
}
.bootstrap-select.btn-group.open .btn .caret:before{
    content: '\e113';
}
.bootstrap-select.btn-group.open .btn:before,.bootstrap-select.btn-group.open .btn:after{
    border: 0;
}
.bootstrap-select.btn-group.open .btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
}
.bootstrap-select.btn-group.open.dropup .btn{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bootstrap-select.btn-group .dropdown-menu {
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 0;
    margin-left: -3px;
    border: 3px solid #eb623e;
    border-top:  1px solid #e1dfd8;
    min-width: 95%;
}
.bootstrap-select.btn-group.dropup .dropdown-menu{
    border: 3px solid #eb623e;
    border-bottom:  1px solid #e1dfd8;
    margin-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    border: 0;
    max-height: 300px !important;
    min-width: 100%;
}

.bootstrap-select .dropdown-menu>li>a:hover, .bootstrap-select .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
}
.bootstrap-select .dropdown-menu>li>a {
    color: #333;
}

.bootstrap-select.btn-group .dropdown-menu li > a {
    cursor: pointer;
    padding: 10px 25px;
}


.btn-filters {
    background: #e1dfdb;
    border:1px solid #c9c3b9;
    border-radius: 5px;
    box-shadow: inset 0 3px 15px rgba(0,0,0,.125),inset 0 -3px 15px rgba(0,0,0,.125);
    color: #333;

}
.btn-filters .btn {
    background: transparent;
    border: 0;
    color: #333;
    margin: 0 !important;
    font-size: 100%;
    font-weight: 400;
    padding:  7px 20px;
    text-transform: none;
    height: 36px;
    text-align: center;
}
.btn-filters>.btn.active:first-child{
    left:-1px;
}
.btn-filters>.btn.active:last-child{
    right: -1px;
}
.btn-filters .btn.active {
    background-color: #fff;
    border-radius: 5px !important;
    border:1px solid #c9c3b9;
    -moz-box-shadow:    0 5px 3px  #eae8de;
    -webkit-box-shadow: 0 5px 3px  #eae8de;
    box-shadow:         0 5px 3px  #eae8de;
    height: 36px;
    top:-1px;
}
#show-subject-menu {
    margin-top:20px;
}
@media (min-width: 768px){
    #page-body #main {
        padding-left: 281px;
        width: 100%;
    }

	#page-body-full #main {
        padding-left: 15px;
		padding-right: 10px;
        width: 100%;
    }

    #sidebar {
        width: 266px;
    }
    #banner .banner {
        height:  100% !important;
    }
}

@media (min-width: 1600px) {
    #page-body #main {
        padding-left: 395px;
        width: 100%;
    }
    #sidebar {
        width:  380px;
    }
}
@media screen and (max-width: 767px) {

    body {
        overflow-x: hidden;
    }
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        left: 0;
    }

    .row-offcanvas.active {
        left: 100%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .main-wrapper {
        width: auto;
    }
    #page-body #main {
        margin-left: 0;
        padding-left:5px;
        padding-right: 5px;
        width: 100%;
    }
    #how-it-work h2.title, #features h2.title, #discipline h2.title, #top-courses h2.title, #questions h2.title {
        font-size: 175%;
        text-align: center;
    }
    #how-it-work,#features{
        text-align: center;
    }
    #discipline {
        padding: 0 20px;
    }
    #how-it-work .icons {
        display: none;
    }
    #counter .btn, #time .btn {
        font-size: 100%;
        padding: 15px 12px;
    }
    #top-courses .course {
        width: 100%;
    }
    #top-courses .all a {
        font-size: 145%;
    }
    #questions .vk {
        text-align: center;
        width: 100%;
    }
    #questions #vk_groups {
        margin: 0 auto;
    }
    #footer .contacts {
        padding: 5px 10px;
    }
    #sidebar {
        left: -100%;
        width: 100%;
        position: absolute;
    }

    #subjects-menu {
        height: 100%;
    }
    #subjects-menu .open>.dropdown-menu{
        background: #fff;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        margin-left: 20px;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #subjects-menu .dropdown-menu li {
        background: #fff;
        display: list-item;
        margin: 10px 0;
        border-bottom: 1px solid #f7f0f0;
        width: 100%;
    }
    #subjects-menu .dropdown-menu li a {
        color: #5f3f23;
        font-size: 128%;
        font-weight: 700;
        padding: 20px 0 20px 25px;
    }

    #subjects-menu .open>a,#subjects-menu .open>a:hover, #subjects-menu .open>a:focus{
        background: #fff;
    }
    #subjects-menu .dropdown-menu .dropdown-header,
    #subjects-menu .dropdown-menu .dropdown-footer {
        display: none
    }
    #subjects-menu .dropdown-menu .dropdown-footer .icon-arrow-down{
        left: 125px;
        top: 235px;
        position: absolute;
    }
    .course {
        min-height: 270px;
    }
    .course .card-wrap {
        width: auto;
        padding-bottom: 40px;
    }
    .course .card {
        width: auto;
    }

    .course .card .links {
        margin-top: 20px;
        position: relative;
    }
    .course .card .subjects a{
        display: block;
    }

    .course .info {
        margin-left: 140px;
    }
    .course .info .description {
        word-break: break-all;
        position: relative;
    }
    .course .info .description:after{
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 21px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
    .course .meta {
        margin-left: 0px;
    }
    .course .info .left {
        min-width: 0;
    }
    #banner {
        height: 100%;
    }
    #banner .banner {
    }
    #banner .bottom{
        padding: 10px;
        position: relative;;
        height: 100%;
    }
    #banner .bottom .warranty {
        position: relative;
        width: 100%;
    }
    #banner .bottom .warranty p{
        font-size: 114%;
        line-height: 114%;
        width: 100%;
    }
    #banner .banner .title h1 {
        font-size: 32px;
        margin: 13px 0;
    }
    #banner .banner .title p {
        display: none;
        font-size: 12px;
    }
    #banner .banner .catalog {
        display: none;
    }
    #banner .banner .or {
        display: none;
    }
    #banner .banner .more {
        display: none;
    }
    #banner .banner .women {
        display: none;
    }
    #banner .banner .warranty {
        display: none;
    }
    #banner .banner .btn {
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        padding: 10px 20px !important;
    }
    #header .navbar-collapse {
        background: #22262e;
    }
    .languages-menu:hover .dropdown-menu {
        display: none;
    }
    .languages-menu.open .dropdown-menu{
        display: block;
    }
    .languages-menu .dropdown-toggle {
        padding:15px 10px;
    }
    .request-form .modal-header {
        display: none;
    }
    #request-form, .request-form .modal-dialog, .request-form .modal-dialog .modal-content {
        width: auto;
    }
    .request-form textarea{
        width: 100%;
    }
}


/*************************
	-	CAPTIONS	-
**************************/

.tp-static-layers	{	position:absolute; z-index:505; top:0px;left:0px;}

.tp-hide-revslider,.tp-caption.tp-hidden-caption	{	visibility:hidden !important; display:none !important;}


.tp-caption { z-index:1; white-space:nowrap}

/******************************
	-	BUTTONS	-
*******************************/

.tp-simpleresponsive .button				{	padding:6px 13px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height:30px;
    cursor:pointer;
    color:#fff !important; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6) !important; font-size:15px; line-height:45px !important;
    background:url(../images/gradient/g30.png) repeat-x top; font-family: arial, sans-serif; font-weight: bold; letter-spacing: -1px;
}

.tp-simpleresponsive  .button.big			{	color:#fff; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6); font-weight:bold; padding:9px 20px; font-size:19px;  line-height:57px !important; background:url(../images/gradient/g40.png) repeat-x top;}


.tp-simpleresponsive  .purchase:hover,
.tp-simpleresponsive  .button:hover,
.tp-simpleresponsive  .button.big:hover		{	background-position:bottom, 15px 11px;}



@media only screen and (min-width: 768px) and (max-width: 959px) {

}



@media only screen and (min-width: 480px) and (max-width: 767px) {
    .tp-simpleresponsive  .button	{	padding:4px 8px 3px; line-height:25px !important; font-size:11px !important;font-weight:normal;	}
    .tp-simpleresponsive  a.button { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }


}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .tp-simpleresponsive  .button	{	padding:2px 5px 2px; line-height:20px !important; font-size:10px !important;}
    .tp-simpleresponsive  a.button { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }
}





/****************************************************************

	-	SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID   -

******************************************************************/

/*.tp-simpleresponsive				{	-webkit-perspective: 1500px;
										-moz-perspective: 1500px;
										-o-perspective: 1500px;
										-ms-perspective: 1500px;
										perspective: 1500px;
									}*/




/**********************************************
	-	FULLSCREEN AND FULLWIDHT CONTAINERS	-
**********************************************/

.fullscreen-container {
    width:100%;
    position:relative;
    padding:0;
}



.fullwidthbanner-container{
    width:100%;
    position:relative;
    padding:0;
    overflow:hidden;
}

.fullwidthbanner-container .fullwidthbanner{
    width:100%;
    position:relative;
}



/************************************************
	  - SOME CAPTION MODIFICATION AT START  -
*************************************************/
.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";		-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; */
    position:absolute;visibility: hidden;
    -webkit-font-smoothing: antialiased !important;
}


.tp-simpleresponsive img	{	max-width:none;}



/******************************
	-	IE8 HACKS	-
*******************************/
.noFilterClass {
    filter:none !important;
}


/******************************
	-	SHADOWS		-
******************************/
.tp-bannershadow  {
    position:absolute;

    margin-left:auto;
    margin-right:auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.tp-bannershadow.tp-shadow1 {	background:url(../assets/shadow1.png) no-repeat; background-size:100% 100%; width:890px; height:60px; bottom:-60px;}
.tp-bannershadow.tp-shadow2 {	background:url(../assets/shadow2.png) no-repeat; background-size:100% 100%; width:890px; height:60px;bottom:-60px;}
.tp-bannershadow.tp-shadow3 {	background:url(../assets/shadow3.png) no-repeat; background-size:100% 100%; width:890px; height:60px;bottom:-60px;}



/********************************
	-	DOTTED OVERLAYS	-
*********************************/
.tp-dottedoverlay						{	background-repeat:repeat;width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:1;}
.tp-dottedoverlay.twoxtwo				{	background:url(../assets/gridtile.png)}
.tp-dottedoverlay.twoxtwowhite			{	background:url(../assets/gridtile_white.png)}
.tp-dottedoverlay.threexthree			{	background:url(../assets/gridtile_3x3.png)}
.tp-dottedoverlay.threexthreewhite		{	background:url(../assets/gridtile_3x3_white.png)}
/********************************
	-	DOTTED OVERLAYS ENDS	-
*********************************/



/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}



.tp-simpleresponsive a{	text-decoration:none;}

.tp-simpleresponsive ul {
    list-style:none;
    padding:0;
    margin:0;
}

.tp-simpleresponsive >ul >li{
    list-stye:none;
    position:absolute;
    visibility:hidden;
}
/*  CAPTION SLIDELINK   **/
.caption.slidelink a div,
.tp-caption.slidelink a div {	width:3000px; height:1500px;  background:url(../assets/coloredbg.png) repeat;}

.tp-caption.slidelink a span	{	background:url(../assets/coloredbg.png) repeat;}



/*****************************************
	-	NAVIGATION FANCY EXAMPLES	-
*****************************************/

.tparrows .tp-arr-imgholder								{ display: none}
.tparrows .tp-arr-titleholder							{ display: none}



/*****************************************
	-	NAVIGATION FANCY EXAMPLES	-
*****************************************/

/* NAVIGATION PREVIEW 1 */
.tparrows.preview1 							{	width:100px;height:100px;-webkit-transform-style: preserve-3d; -webkit-perspective: 1000; -moz-perspective: 1000; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;background: transparent;}
.tparrows.preview1:after					{	position:absolute; left:0px;top:0px; font-family: "revicons"; color:#fff; font-size:30px; width:100px;height:100px;text-align: center; background:#fff;background:rgba(0,0,0,0.15);z-index:2;line-height:100px; -webkit-transition: background 0.3s, color 0.3s; -moz-transition: background 0.3s, color 0.3s; transition: background 0.3s, color 0.3s;}
.tp-rightarrow.preview1:after				{	content: '\e825';  }
.tp-leftarrow.preview1:after				{	content: '\e824';  }

.tparrows.preview1:hover:after 				{	background:rgba(255,255,255,1); color:#aaa; }

.tparrows.preview1 .tp-arr-imgholder 		{	background-size:cover; background-position:center center; display:block;width:100%;height:100%;position:absolute;top:0px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/*.tparrows.preview1 .tp-arr-iwrapper			{	  -webkit-transition: all 0.3s;transition: all 0.3s;
												-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-moz-opacity: 0.0;-khtml-opacity: 0.0;opacity: 0.0;}
.tparrows.preview1:hover .tp-arr-iwrapper	{	  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;}*/


.tp-rightarrow.preview1 .tp-arr-imgholder	{	right:100%;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;


}
.tp-leftarrow.preview1 .tp-arr-imgholder	{	left:100%;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;


}


.tparrows.preview1:hover .tp-arr-imgholder	{	-webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


@media only screen and (min-width: 768px) and (max-width: 979px) {
    .tparrows.preview1,
    .tparrows.preview1:after	{	width:80px; height:80px;line-height:80px; font-size:24px;}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .tparrows.preview1,
    .tparrows.preview1:after	{	width:60px; height:60px;line-height:60px;font-size:20px;}

}



@media only screen and (min-width: 0px) and (max-width: 479px) {
    .tparrows.preview1,
    .tparrows.preview1:after	{	width:40px; height:40px;line-height:40px; font-size:12px;}
}


/******************************
	-	LOADER FORMS	-
********************************/

.tp-loader 	{
    top:50%; left:50%;
    z-index:10000;
    position:absolute;


}

.tp-loader.spinner0 {
    width: 40px;
    height: 40px;
    background:url(../img/loader.gif) no-repeat center center;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-top:-20px;
    margin-left:-20px;
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.tp-loader.spinner1 {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-top:-20px;
    margin-left:-20px;
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}



.tp-loader.spinner5 	{	background:url(../img/loader.gif) no-repeat 10px 10px;
    background-color:#fff;
    margin:-22px -22px;
    width:44px;height:44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


@-webkit-keyframes tp-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes tp-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}


.tp-loader.spinner2 {
    width: 40px;
    height: 40px;
    margin-top:-20px;margin-left:-20px;
    background-color: #ff0000;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    border-radius: 100%;
    -webkit-animation: tp-scaleout 1.0s infinite ease-in-out;
    animation: tp-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes tp-scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes tp-scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 100% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          opacity: 0;
      }
}




.tp-loader.spinner3 {
    margin: -9px 0px 0px -35px;
    width: 70px;
    text-align: center;

}

.tp-loader.spinner3 .bounce1,
.tp-loader.spinner3 .bounce2,
.tp-loader.spinner3 .bounce3 {
    width: 18px;
    height: 18px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: tp-bouncedelay 1.4s infinite ease-in-out;
    animation: tp-bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.tp-loader.spinner3 .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.tp-loader.spinner3 .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes tp-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes tp-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}




.tp-loader.spinner4 {
    margin: -20px 0px 0px -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    -webkit-animation: tp-rotate 2.0s infinite linear;
    animation: tp-rotate 2.0s infinite linear;
}

.tp-loader.spinner4 .dot1,
.tp-loader.spinner4 .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: tp-bounce 2.0s infinite ease-in-out;
    animation: tp-bounce 2.0s infinite ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.tp-loader.spinner4 .dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes tp-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes tp-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes tp-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes tp-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}



.tp-transparentimg {	content:"url(../assets/transparent.png)"}
.tp-3d				{	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}



.tp-caption img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    zoom: 1;
}


@font-face {
    font-family: 'revicons';
    src: url('../font/revicons.eot?5510888');
    src: url('../font/revicons.eot?5510888#iefix') format('embedded-opentype'),
    url('../font/revicons.woff?5510888') format('woff'),
    url('../font/revicons.ttf?5510888') format('truetype'),
    url('../font/revicons.svg?5510888#revicons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'revicons';
    src: url('../font/revicons.svg?5510888#revicons') format('svg');
  }
}
*/

[class^="revicon-"]:before, [class*=" revicon-"]:before {
    font-family: "revicons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.revicon-search-1:before { content: '\e802'; } /* '' */
.revicon-pencil-1:before { content: '\e831'; } /* '' */
.revicon-picture-1:before { content: '\e803'; } /* '' */
.revicon-cancel:before { content: '\e80a'; } /* '' */
.revicon-info-circled:before { content: '\e80f'; } /* '' */
.revicon-trash:before { content: '\e801'; } /* '' */
.revicon-left-dir:before { content: '\e817'; } /* '' */
.revicon-right-dir:before { content: '\e818'; } /* '' */
.revicon-down-open:before { content: '\e83b'; } /* '' */
.revicon-left-open:before { content: '\e819'; } /* '' */
.revicon-right-open:before { content: '\e81a'; } /* '' */
.revicon-angle-left:before { content: '\e820'; } /* '' */
.revicon-angle-right:before { content: '\e81d'; } /* '' */
.revicon-left-big:before { content: '\e81f'; } /* '' */
.revicon-right-big:before { content: '\e81e'; } /* '' */
.revicon-magic:before { content: '\e807'; } /* '' */
.revicon-picture:before { content: '\e800'; } /* '' */
.revicon-export:before { content: '\e80b'; } /* '' */
.revicon-cog:before { content: '\e832'; } /* '' */
.revicon-login:before { content: '\e833'; } /* '' */
.revicon-logout:before { content: '\e834'; } /* '' */
.revicon-video:before { content: '\e805'; } /* '' */
.revicon-arrow-combo:before { content: '\e827'; } /* '' */
.revicon-left-open-1:before { content: '\e82a'; } /* '' */
.revicon-right-open-1:before { content: '\e82b'; } /* '' */
.revicon-left-open-mini:before { content: '\e822'; } /* '' */
.revicon-right-open-mini:before { content: '\e823'; } /* '' */
.revicon-left-open-big:before { content: '\e824'; } /* '' */
.revicon-right-open-big:before { content: '\e825'; } /* '' */
.revicon-left:before { content: '\e836'; } /* '' */
.revicon-right:before { content: '\e826'; } /* '' */
.revicon-ccw:before { content: '\e808'; } /* '' */
.revicon-arrows-ccw:before { content: '\e806'; } /* '' */
.revicon-palette:before { content: '\e829'; } /* '' */
.revicon-list-add:before { content: '\e80c'; } /* '' */
.revicon-doc:before { content: '\e809'; } /* '' */
.revicon-left-open-outline:before { content: '\e82e'; } /* '' */
.revicon-left-open-2:before { content: '\e82c'; } /* '' */
.revicon-right-open-outline:before { content: '\e82f'; } /* '' */
.revicon-right-open-2:before { content: '\e82d'; } /* '' */
.revicon-equalizer:before { content: '\e83a'; } /* '' */
.revicon-layers-alt:before { content: '\e804'; } /* '' */
.revicon-popup:before { content: '\e828'; } /* '' */

#price-range {
    width: 92%;
    display: inline-block;
    top: 13px;
}

#price-range .ui-slider-handle > span {
	width: 30px;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	color: #000000;
	font-size: 12px;
	top: -20px;
}

.slider.slider-horizontal {
    width: 100%;
}

.rating span {
	font-size: 40px;
	color: orange;
}

.rating span.not {
	color: #cecece;
}

.tab-content {
	display: none;
	padding-top: 30px;
}

.ui-sortable:after {
	display: block;
	content: '';
	width: 100%;
	clear: both;
}