.bs-example-form .input-group
{
	margin-bottom: 10px;
}
.sign-in-link:hover
{
	cursor:pointer;
	/*color:#2b669a !important*/
}
.course-short_description
{
	max-width:100%
}

.upload-btn input
{
	top: 0px;
	right: -40px;
	z-index: 2;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 50px;
}
#map
{
	width: 100%;
	height: 400px;
}
#sortable { list-style-type: none; margin: 0; padding:20px 0; width: 100%;
	display: block;}
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 160px; height: 160px; font-size: 4em; text-align: center; }
.modal-content
{
	box-shadow:none;
	border-radius:0px;
	padding:20px;
}
html
{
	height:100%
}
body
{
	min-height:100%;
	background:#f5f4ee
}
#page-body-full
{
	min-height:100%;
}
#main
{
	min-height:100%;
	background:#f5f4ee
}
.tab-content
{
	padding-top: 0px;
}
#profile
{
	width: 100%;
	margin:0px;
}
.btn-primary
{
	background: #eb613d;
	border: 1px solid #eb613d;
}
.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
{
	width: 100%;
}
.btn {
	margin-bottom: 0.4em;
}
.input-group input
{
	margin-bottom:3px !important;
}
span.del-group,span.ok-group
{
	cursor:pointer;
	top: 7px;
	left: 6px;
	font-size: 21px;
}
span.del-defined-group,span.ok-defined-group,span.save-defined-group
{
	cursor:pointer;
	top: 3px;
	left: 0px;
	font-size: 15px;
}
span.del-group:hover,span.del-defined-group:hover,span.save-defined-group:hover
{
	color:red
}
span.ok-group:hover, span.ok-defined-group:hover,span.save-defined-group:hover
{
	color:green
}
span.save-defined-group
{
	display:none;
}
.add-group-control
{
	cursor:pointer
}

.form-group
{
	position:relative;
}
#subjects-menu .nav>li>a>.glyphicon {
    color: #eb613d;
    font-size: 70%;
    float: right;
    padding-right: 18px;
    padding-top: 4px;
}
#subjects-menu .nav>li.opens-sub>a>.glyphicon {
    color:#d4c4b9;
}
#subjects-menu .nav>li>a>.glyphicon:before {
    content:"\e080"
}
#subjects-menu .nav>li.opens-sub>a>.glyphicon:before {
    content:"\e079"
}
iframe
{
	border:none;
	overflow:hidden;
	height:21px;
}
.btn-primary:active, .btn-primary.active {
	background-color: #5cb85c ;
	border-color: #5cb85c ;
}

.group-value img
{
	max-height:15px;
	max-width:15px;
}

#header li.dropdown
{
	min-width:200px;
}
#header .dropdown-menu
{
	background: #080808;
	width: 100% !important;
}
#header  .dropdown-menu>li>a:hover, #header  .dropdown-menu>li>a:focus
{
	background: #080808;
	text-decoration:underline
}
.edit-course
{
	float:right;
	margin: 10px 10px 0px 0px;
	font-size:18px;
}
.edit-course span
{
	padding-left:0px !important;
}
.course .info .price, .course .card .price
{
	padding-right: 10px;
	font-family:'PT Sans',sans-serif
}
progress {
  color: #0063a6;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 15em;
  height: 1.8em;
  border: 1px solid #0063a6;
  background: #fff;
}
progress::-moz-progress-bar { background: #0063a6; }
progress::-webkit-progress-bar { background: #fff; }
progress::-webkit-progress-value { background: #0063a6; }
div.loader
{
	/*position: absolute;*/
	z-index: 9999;
	width: 50px;
	height: 50px;
	background: #fff;
	top: 0;
	left: 0;
	text-align: center;
/* 	opacity: 0.8; */
	display:none;
	margin: 0 auto;
}
div.loader > img {
	width: 100%;
	height: 100%;
}
.cke_dialog_ui_labeled_label, .cke_dialog_ui_input_text, .cke_btn_locked, .cke_btn_reset, .cke_dialog_ui_input_select
{
	display:none !important;
}
a.cke_dialog_ui_button span
{
	text-shadow:none !important;
}
.cke_editable img
{
	max-width:400px !important;
	max-height:auto !important
}
#rub-symbol
{
	font-family:'PT Sans',sans-serif
}
.twitter-typeahead
{
	width:100% !important
}
[id^='cke_advanced_']
{
	display:none !important;
}
.allwidth
{
	width:100%;
}